@model ReferenceManager.App.Models.PlantillaCampo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PlantillaCampo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FkCampo" class="control-label"></label>
                <select asp-for="FkCampo" class="form-control" asp-items="ViewBag.FkCampo"></select>
            </div>
            <div class="form-group">
                <label asp-for="FkPlantilla" class="control-label"></label>
                <select asp-for="FkPlantilla" class="form-control" asp-items="ViewBag.FkPlantilla"></select>
            </div>
            <div class="form-group">
                <label asp-for="OrdenCampo" class="control-label"></label>
                <input asp-for="OrdenCampo" class="form-control" />
                <span asp-validation-for="OrdenCampo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EtiquetaCampo" class="control-label"></label>
                <input asp-for="EtiquetaCampo" class="form-control" />
                <span asp-validation-for="EtiquetaCampo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Logitud</label>
                <input asp-for="Logituud" class="form-control" />
                <span asp-validation-for="Logituud" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="form-check form-switch">
                    @*<input class="form-check-input" type="checkbox" id="Requerido" name="Requerido" checked>*@
                    @Html.CheckBox("Requerido", new  { @class = "form-check-input", @checked="checked" })
                    <label class="form-check-label" asp-for="Requerido"></label>
                    <span asp-validation-for="Requerido" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
