
.vs/ReferenceManager/FileContentIndex/49aad4d9-e921-40ba-bb3c-9627b2083d61.vsidx
.vs/ReferenceManager/FileContentIndex/e900ca3e-e9b4-48af-9bbe-9b923e67bf8a.vsidx
.vs/ReferenceManager/FileContentIndex/e900ca3e-e9b4-48af-9bbe-9b923e67bf8a.vsidx
*.vsidx
.vs/ReferenceManager/FileContentIndex/e900ca3e-e9b4-48af-9bbe-9b923e67bf8a.vsidx
*.vsidx
