@model ReferenceManager.App.Models.RefArrendadorLocal

@{
    ViewData["Title"] = "Create";
}

<h4>Referencia Arrendador de Local</h4>

<div class="row">
    <div class="">
        <form asp-action="Create" id="formRef">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="">
                <label asp-for="QueArrienda" class="control-label"></label>
                <input asp-for="QueArrienda" class="form-control" />
                <span asp-validation-for="QueArrienda" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="TiempoArriendo" class="control-label"></label>
                <input asp-for="TiempoArriendo" class="form-control" />
                <span asp-validation-for="TiempoArriendo" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="TipoNegocio" class="control-label"></label>
                <input asp-for="TipoNegocio" class="form-control" />
                <span asp-validation-for="TipoNegocio" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="CantidadEmpleados" class="control-label"></label>
                <input asp-for="CantidadEmpleados" class="form-control" />
                <span asp-validation-for="CantidadEmpleados" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="DireccionLocal" class="control-label"></label>
                <input asp-for="DireccionLocal" class="form-control" />
                <span asp-validation-for="DireccionLocal" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="QuienVive" class="control-label"></label>
                <input asp-for="QuienVive" class="form-control" />
                <span asp-validation-for="QuienVive" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="EstadoCivil" class="control-label"></label>
                <input asp-for="EstadoCivil" class="form-control" />
                <span asp-validation-for="EstadoCivil" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="NombreConyuge" class="control-label"></label>
                <input asp-for="NombreConyuge" class="form-control" />
                <span asp-validation-for="NombreConyuge" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="CanonArriendo" class="control-label"></label>
                <input asp-for="CanonArriendo" class="form-control" />
                <span asp-validation-for="CanonArriendo" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="IncluyeServicios" class="control-label"></label>
                <input asp-for="IncluyeServicios" class="form-control" />
                <span asp-validation-for="IncluyeServicios" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="PuntualResponsable" class="control-label"></label>
                <input asp-for="PuntualResponsable" class="form-control" />
                <span asp-validation-for="PuntualResponsable" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="Concepto" class="control-label"></label>
                <input asp-for="Concepto" class="form-control" />
                <span asp-validation-for="Concepto" class="text-danger"></span>
            </div>
            <div class="">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

    <style>
        #formRef {
        }

        #formRef  div {
            display:flex;
            margin-bottom:5px;
            margin-top:5px;
        }

        #formRef  div label {
            width:40%;
        }
        .form-control{
            height:40px;
        }
    </style>