@model ReferenceManager.App.Models.RefArrendadorLocal

@{
    ViewData["Title"] = "Create";
}

<h4>Referencia Arrendador Local</h4>

<hr />
<div id="contentData">
    <table id="idDataCliente" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Nombre del Cliente</th>
                <th>Tipo Identificacion</th>
                <th>Numero Identificacion</th>
                <th>Nombre de Negocio</th>
                <th>Tipo de Negocio</th>
                <th>Direccion Negocio</th>
                <th>Tiempo de Operacion (Años)</th>
                <th>Tiempo de Operacion (Meses)</th>
                <th>Tiempo de Operacion del Establecimiento(Meses)</th>
                <th>Tiempo de Operacion del Establecimiento(Años)</th>
                <th>Tipo Local</th>
                <th>Tipo Vivienda</th>
                <th>Estado Civil</th>
            </tr>
        </thead>
    </table>
    <br />
    <div id="idDataReferencia">
    </div>

</div>
<div class="row">

    <form asp-action="SaveComentario" id="formSaveComentario">
        <hr />
        <div id="idTipiFicacion">
            <label><b>Tipificacion:</b></label>
            <select id="slTipificacion" name="slTipificacion" class="form-select" required>
                <option value="0">Seleccione</option>
                <option value="Se verificaron datos">Se verificaron datos</option>
                <option value="No contestan">No contestan</option>
                <option value="Cliente se encuentra en otro horario">Cliente se encuentra en otro horario</option>
                <option value="Dificil ubicacion">Dificil ubicacion</option>
            </select>
        </div>
        <br />
        <div style="display:none" id="divSaveComentario">
            <label class="form-label">Comentario:</label>
            <textarea id="txtComentario" name="txtComentario" required class="form-control" rows="3" style="height:70px;"></textarea>
            <input type="text" value="" id="txtIdUser" name="txtIdUser" style="display:none" />
            <input type="text" value="" id="txtIdReferencia" name="txtIdReferencia" style="display:none" />
            <br />
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>

    </form>
</div>

<div class="row" style="display:none" id="divCreate">
    <div class="">
        <form asp-action="Create" id="formRef">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="">
                <label asp-for="QueArrienda" class="control-label"></label>
                <input asp-for="QueArrienda" class="form-control" />
                <span asp-validation-for="QueArrienda" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="TiempoArriendo" class="control-label"></label>
                <input asp-for="TiempoArriendo" class="form-control" />
                <span asp-validation-for="TiempoArriendo" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="TipoNegocio" class="control-label"></label>
                <input asp-for="TipoNegocio" class="form-control" />
                <span asp-validation-for="TipoNegocio" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="CantidadEmpleados" class="control-label"></label>
                <input asp-for="CantidadEmpleados" class="form-control" />
                <span asp-validation-for="CantidadEmpleados" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="DireccionLocal" class="control-label"></label>
                <input asp-for="DireccionLocal" class="form-control" />
                <span asp-validation-for="DireccionLocal" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="QuienVive" class="control-label"></label>
                <input asp-for="QuienVive" class="form-control" />
                <span asp-validation-for="QuienVive" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="EstadoCivil" class="control-label"></label>
                <input asp-for="EstadoCivil" class="form-control" />
                <span asp-validation-for="EstadoCivil" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="NombreConyuge" class="control-label"></label>
                <input asp-for="NombreConyuge" class="form-control" />
                <span asp-validation-for="NombreConyuge" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="CanonArriendo" class="control-label"></label>
                <input asp-for="CanonArriendo" class="form-control" />
                <span asp-validation-for="CanonArriendo" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="IncluyeServicios" class="control-label"></label>
                <input asp-for="IncluyeServicios" class="form-control" />
                <span asp-validation-for="IncluyeServicios" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="PuntualResponsable" class="control-label"></label>
                <input asp-for="PuntualResponsable" class="form-control" />
                <span asp-validation-for="PuntualResponsable" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="Concepto" class="control-label"></label>
                <input asp-for="Concepto" class="form-control" />
                <span asp-validation-for="Concepto" class="text-danger"></span>
            </div>
            <div style="justify-content: center;">
                <div style="display: table-cell;border: 1px solid #c3c6cc;border-radius: 5px;margin: 5px;padding: 5px;width: 90%;">
                    <div>
                        <label class="form-label">Calificacion: </label>
                        <div class="radio">
                            <label><input type="radio" id="CheckCalificacion" name="CheckCalificacion" checked value="Buena">Buena</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" id="CheckCalificacion" name="CheckCalificacion" value="Deficiente">Deficiente</label>
                        </div>
                    </div>
                    <input type="text" value="" id="txtIdUser1" name="txtIdUser1" style="display:none" />
                    <input type="text" value="" id="txtIdReferencia1" name="txtIdReferencia1" style="display:none" />
                    <div>
                        <label class="form-label">Comentario: </label>
                        <textarea class="form-control" rows="3" id="txtComentario1" name="txtComentario1" style="height: 80px;"></textarea>
                    </div>

                </div>
            </div>
            <div class="">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/referencia/ref.js" data-view="RefArrendadorLocals" id="ScriptRef"></script>

}

     <style>
        #formRef {
        }

            #formRef div {
                display: flex;
                margin-bottom: 5px;
                margin-top: 5px;
            }

                #formRef div label {
                    font-size: 14px;
                    width: 40%;
                }

        .form-control {
            height: 40px;
        }

        th {
            font-size: 10px;
            text-align: left;
        }

        td {
            font-size: 10px;
            text-align: left;
        }

        table, th, td {
            border: 1px solid black;
            padding: 5px;
            margin: 5px;
        }

        #idDataReferencia label {
            margin: 5px;
        }

        #formSaveComentario > * {
            margin: 5px;
        }
    </style>