@model IEnumerable<ReferenceManager.App.Models.ListaReferencium>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<label>identificacion del cliente:</label>
<input type="text" class="form-control"/> 

<form></form>
